{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}
{% load static %}
{% load extra_tags %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'audit_trail/style.css' %}" />
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% trans 'History' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
<div class="module">
{% if action_list %}
    {% regroup action_list by transacted_on as actions %}
    <table id="change-history">
        <thead>
        <tr>
            <th scope="col">{% trans 'Date/time' %}</th>
            <th scope="col">{% trans 'User' %}</th>
            <th scope="col">{% trans 'Action' %}</th>
            <th scope="col">{% trans 'Field' %}</th>
            <th scope="col">{% trans 'Previous Value' %}</th>
            <th scope="col">{% trans 'New Value' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for action in actions %}
          {% for act in action.list %}
          <tr>
 	        {% ifchanged action.grouper %}<th scope="row" rowspan={{ action.list|length }}>{{ action.grouper|date:"DATETIME_FORMAT" }}</th> {% endifchanged %}
	    
	        {% ifchanged act.transacted_by %} <td rowspan={{ action.list|length }}>{{ act.transacted_by }}</td> {% endifchanged %}
	        {% ifchanged act.transactoin_type %} <td rowspan={{ action.list|length }}>{{ act.transaction_type|get_full_name }}</td> {% endifchanged %}
 	        <td>{{ act.field_name }}</td> 
	        <td style="color:red;">{{ act.previous_val|render:act.previous_val_type }}</td>
            <td style="color:green;">{{ act.current_val|render:act.current_val_type }}</td>
          </tr>
	  {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "This object doesn't have a change history." %}</p>
{% endif %}

    <p class="paginator">

    {% if action_list.number|add:"-5" > 0 %}
      <a href="?page=1">1</a>
    {% endif %}

    {% if action_list.number|add:"-5" > 1 %}
      <span>&hellip;</span>
    {% endif %}

    {% for page_num in action_list.paginator.page_range %}
      {% if action_list.number == page_num %}
        <span class="this-page">{{ page_num }}</span>
      {% else %}
        {% if page_num > action_list.number|add:"-5" and page_num < action_list.number|add:"5" %}
          <a href="?page={{ page_num }}">{{ page_num }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if action_list.number|add:"5" < action_list.paginator.num_pages %}
      <span>&hellip;</span>
    {% endif %}

    {% if action_list.number|add:"4" < action_list.paginator.num_pages %}
      <a href="?page={{ action_list.paginator.num_pages }}">{{ action_list.paginator.num_pages }}</a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;
    {{ action_list.paginator.count }} changes

  </p>
</div>
</div>
{% endblock %}
